<!-- <h1> project 1</h1> -->
<body >
  <div class="login-container">
  <img class="film" src="assets/images/money.png" alt="" />
  
  <div class="head" > <img class="logo" src="assets/images/mon.png"/><b>My Pay</b></div>
  <br>

  <!-- <div class="des"> This  website gives you information about new movies and their ratings. If you want to know about those movies please login</div> -->
    <fieldset >
<form>
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="nope" class="ip" id="em">
      </div>
      <br>
      <br>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password" class="ip" id="pw"
        >
      </div>
      <br>
      <a href="#" class="link">Forgot your Password</a>  
    </div>
    <br>
    <div class="action">
    
      <!-- <button (click)="opennew($event)">Sign in</button> -->
      <button type="button" class="btn btn-primary" (click)="opennew($event)">Login</button>

      <!-- <a routerLink="/home" > Register</a> -->
      <!-- <router-outlet> </router-outlet> -->
    </div>
  </form> 
</fieldset>
</div>
</body>

    


